@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}

/* nav styles starts */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 135px 0px 135px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list ul {
    display: flex;
    list-style: none;
    gap: 44px;
    align-items: center;
}

.list ul a {
    text-decoration: none;
    color:  #424247;
    font-size: 18px;
    font-weight: 400;
}
#home{
    color: #FF5400;
    font-weight: 700;
}
.open-btn{
    display: none;
}
#menu{
    display: none;
}
/* nav styles ends */


@media screen and (max-width:600px) {
    .list ul{
        position: fixed;
        top: 80px;
        left: -100%;
        display: block;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
    }
    .list ul li{
        
        margin: 40px 0;
    }
    .list ul li a{
        font-size: 20px;
        display: block;
    }
    .open-btn{
        margin-left: 150px;
        font-size: 22px;
        cursor: pointer;
        display: block;
    }
    #menu:checked ~ .list ul{
        left: 0%;
    }
    
}